        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-1-1">
                        <small>&copy;2017 Anneria. All rights reserved. <br> This portfolio is private, confidential and personal to its recipients and should not be copied, distributed or reproduced in whole or in part, nor passed to any third party. <br>Brands mentioned above are property of their respective owners.</small>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="assets/js/vendor/particles.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
        <script src="assets/js/index.js"></script> 

        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-64972245-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body> 
</html>