<header class="tbl header-cv">
	<div class="tbl-cell">
		<div class="container">
			<div class="col-1-1">
				<h1>Anneria du Plessis</h1>
			    <p>I am a hardworking, motivated and deadline driven developer. Challenges excite me and I have experience in writing custom code for creative and large scale sites. My passion is semantic, modular front end code and this translates well with progressive enhancement, mobile first approach and user experience. I pride myself in attention to detail, being neat, and having a good eye for design principles.</p>    
			</div>
		</div>
	</div>
</header>