<!doctype html>
<!-- 
 ____   ____   ________    ___
|   |  |   |  |__   __|   |  |
|   |__|   |    |  |      |  |
|          |    |  |      |  |
|    __    |    |  |      |__|
|   |  |   |  __|  |__     ___
|___|  |___| |_______|    |__|

-->
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
       <title>Annéria du Plessis</title>
        <meta name="description" content="Annéria du Plessis, Front-End Developer based in Cape Town">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <meta property="og:title" content="Annéria du Plessis | Portfolio" />
        <meta property="og:description" content="Online Portfolio" />
        <meta property="og:url" content="http://anneriadp.co.za/" />
        <meta property="og:image" content="http://anneriadp.co.za/global/linkedin-share.png" /> -->

        <link rel="stylesheet" href="assets/css/style.css">
        <!--[if lt IE 8]> <script src="js/vendor/modernizr-2.8.3.min.js"></script> <![endif]-->
    </head>
    <body>